.nav-pills .nav-link {
    background-color:  #007bff; /* Bootstrap primary color */
    color: white !important;
}

.nav-pills .nav-link:hover {
    background-color:  hsl(211, 100%, 40%); /* Bootstrap primary color */
    color: white !important;
}

.nav-pills .nav-link.active {
    background-color:  rgb(148, 21, 21); /* Bootstrap primary color */
    color: white !important;
}

.nav-pills .nav-link.active:hover {
    background-color:  hsl(0, 75%, 43%) !important; /* Bootstrap primary color */
    color: white !important;
}

.nav-pills .nav-item {
    margin-right: 10px;  
    margin-top: 10px;
}

.sticky-top-offset {
    top: 56px;
}