.custom-tabs .nav-link{
    color: black !important; /* Default text color */
    font-size: large !important; 
    font-weight: bold !important;
}

.custom-tabs .nav-link.active {
    background-color: hsl(0, 0%, 100%) !important; /* Active tab matches page */
    color: black !important; /* Keep text black */
    font-size: large !important; 
    font-weight: bolder !important;
}

.sticky-offset {
    top: 3.45rem !important;
}

.z-index-1000 {
    z-index: 1000 !important;
}
